
size(width = 1em, height = width)
   width width
   height height

block(width = 1em, height = width, radius = 0, display = block)
   size width height
   display display
   if radius > 0
      border-radius radius

inline(width, height = width, radius = 0)
   block width height radius inline-block

circle(size = 1em)
   block size, size, size

dot(size = 1em, color = red)
   circle size
   font #f center size
   background color

triangle(size = 1em, edge = top)
   border size solid transparent
   border-{edge}-color inherit
   block 0
