

// @css must be in root
@css {

   @font-face {
     font-family: 'moot';
     src: url('http://localhost:8000/moot/ui/dist/font/moot-regular-webfont.eot');
     src: url('http://localhost:8000/moot/ui/dist/font/moot-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('http://localhost:8000/moot/ui/dist/font/moot-regular-webfont.woff') format('woff'),
          url('http://localhost:8000/moot/ui/dist/font/moot-regular-webfont.ttf') format('truetype'),
          url('http://localhost:8000/moot/ui/dist/font/moot-regular-webfont.svg#MootRegular') format('svg');
     font-weight: normal;
     font-style: normal;
   }

}



// variables
@import "vars"

// functions
@import "fn"

// base
@import "base/fix"
@import "base/normalize"

// layout
@import "layout"

// modules
@import "module"
