
// defaults
classify          ?= true
button-gradient   ?= false
shadow-input      ?= false
fix_level         ?= 0     // 0, 1 or 2

// fonts
font_family       ?= 'Open Sans', 'myriad pro', 'lucida pro', sans-serif, arial
monospaced        ?= 'Bitstream Vera Sans Mono', Menlo, Monaco, Courier, monospace
font_size         ?= 16px
icon_font         ?= icon

// layout
page_width        ?= 980px
nav_width         ?= 200px
footer_height     ?= 40px

// colors
blue              ?= #45c1d6
darkblue          ?= #0064cd
green             ?= #46a546
red               ?= #bd0000
yellow            ?= #ffc40d
orange            ?= #f89406
pink              ?= #c3325f
purple            ?= #7a43b6

is_dark           ?= false

if is_dark
   gray_contrast     ?= 15
   black             = #f
   white             = #0
   gray1             ?= darken(black, 1 * gray_contrast)
   gray2             ?= darken(black, 2 * gray_contrast)
   gray3             ?= darken(black, 3 * gray_contrast)
   gray4             ?= darken(black, 4 * gray_contrast)
   gray5             ?= darken(black, 5 * gray_contrast)
   gray6             ?= darken(black, 6 * gray_contrast)
else
   gray_contrast     ?= 20
   black             = #0
   white             = #f
   gray1             ?= lighten(black, 1 * gray_contrast)
   gray2             ?= lighten(black, 2 * gray_contrast)
   gray3             ?= lighten(black, 3 * gray_contrast)
   gray4             ?= lighten(black, 4 * gray_contrast)
   gray5             ?= #d
   gray6             ?= #fe


// element colors
bg_color          ?= #fe
font_color        ?= gray1
link_color        ?= #08C
button_color      ?= blue
focus_color       ?= #75b9f0
error_color       ?= #c05
ok_color          ?= #64b80a
mask_color        ?= rgba(black, 0.75)


// animation speed
fast              ?= .2s
medium            ?= .4s
slow              ?= .8s


// helper units for sizing
spacing           ?= 0.6em
u                 ?= spacing
uh                ?= spacing / 2
u2                ?= spacing * 2
u3                ?= spacing * 3
u4                ?= spacing * 4
u5                ?= spacing * 5
u6                ?= spacing * 6
u7                ?= spacing * 7
u8                ?= spacing * 8
u9                ?= spacing * 9

// font sizing
basefont          ?= 1em
x-small           = basefont * 0.7
small             = basefont * 0.9
larger            = basefont * 1.2
large             = basefont * 1.6
x-large           = basefont * 2
