
/*! Normalize */

/*
   #content
      @extends .normalized
*/

normalize()
   a
      text-decoration none
      cursor pointer
      color link_color

      &:hover
         text-decoration underline

      &:visited
         color darken(link_color, 10)

      &:active
         color lighten(link_color, 20)

   // *bold* in markdown
   b, em
      font-weight bold
      font-style normal

   strong, dfn
      font italic

   mark
      background #ff0

   p, pre, dd, ol, ul, fieldset, legend
      margin 0 0 u
      padding 0

   li
      margin uh u

   ol, ul, blockquote
      padding-left u
      margin-left 0

   blockquote
      padding-left u3

   small, sub, sup
      font-size 75%

   hr
      border 0
      border-bottom 1px solid line_color

   h1
      font-size 250%

   h2
      font-size 150%

   h3
      font-size 100%

   h1, h2, h3
      line-height 1.2
      margin 30px 0 5px

   hgroup
      h1, h2, h3
         margin 0

   img
      max-width 100%

   code
      background-color #e
      padding 0 4px
      border-radius 2px


if classify
   .normalized
      normalize()