
normalize()
   a
      text-decoration none
      hover link_color
      cursor pointer

   // *bold* in markdown
   b, em
      font-weight bold
      font-style normal

   strong, dfn
      font italic

   mark
      background #ff0

   p, pre, dd, ol, ul, fieldset, legend
      margin 0 0 1em
      padding 0

   li
      margin u 0

   ol, ul, blockquote
      padding-left 1em
      margin-left 0

   blockquote
      padding-left u3

   small, sub, sup
      font-size 75%

   hr
      border 0
      border-bottom 1px solid line_color


   h1
      font-size 250%

   h2
      font-size 150%

   h3
      font-size 100%

   h1, h2, h3, p
      margin 0
      line-height 1.2


if classify
   normalize()