
a
   text-decoration none

b, em
   font-weight bold

strong, dfn
   font-style italic

mark
   background #ff0

p, pre, dd, ol, ul, fieldset, legend
   margin 1em 0
   padding 0

li
   margin u 0

ol, ul, blockquote
   padding-left 1em
   margin-left 0

blockquote
   padding-left u3

small, sub, sup
   font-size 75%

