
@media (min-width: 768px)

   width = nav_width + nav_margin

   .nav-left, .nav-right
      #aside
         position absolute
         top u4
         width nav_width
         text-align left
         border-bottom 0

         a
            display block

   .nav-left
      #content
         padding-left width

      #aside
         left 0

   .nav-right
      #content
         padding-right width

      #aside
         right 0
