
#content
   padding-bottom 6em

   .narrow &
      width 40em
      margin 0 auto

@media (min-width: 480px)
   .columned #content

      .level1
         margin-bottom 30px
         clearfix()

      .level2
         float left
         width 46%
         padding-right 4%
