
/*
   Important global element. Make it useful.
   Same rules apply as on other parts of the site.

   What content would benefit visitors the most?
   For example:

   * link to next section (don't repeat top navi as a whole)
   * link to about page
   * related information
   * context sensitive

   Worst you could do is to fill this area with legal stuff &
   other waste and place it on every page of your site.

   http://boagworld.com/usability/making-the-most-of-the-footer/

*/


// footer
#footer
   text-align center
   position absolute
   bottom 0
   width 100%
   bg #c
