
html, body
   height 100%
   bg color_bg


// font
html
   font-family font_family
   font-size font_size

#container
   min-height 100%
   position relative

#main_content
   position relative
   clearfix()

// centered
#top_content, #header_content, #hero_content, #main_content, #footer_content
   max-width page_width - page_margin
   margin 0 auto
   padding 0 page_margin

// header
#header
   clearfix()

// hero
#hero
   display none
   bg #345
   font 4em #e center
   padding uh 0

   .hero &
      display block

// footer
#footer
   position absolute
   bottom 0
   width 100%
