
/*
   Generic global layout needs

   * Centered, fixed width and responsive

   - Fixed width gives more control AND is responsive
   - Background colors span whole browser width while content is centered
   - Footer always on bottom
   - Sidebar on right (never place it left, the #content is king!)

   - When screen goes smaller
      -> sidebar to top
      -> fluid width

   - Nothing more
*/

/*! Globals */

html
   font-family font_family
   font-size font_size
   height 100%

body
   background bg_color
   height 100%


#container
   min-height 100%
   margin-bottom -(footer_height) // space for footer


// inner elements
.wrap
   max-width page_width
   margin 0 auto
   padding 0 u4


// header
#header
   text-align center
   clearfix true
   background dark
   font-size 12px
   line-height 40px

   nav
      display inline-block

   a
      color #c
      margin 0 u
      text-decoration none
      transition all fast
      text-shadow 0 0 0

      &:hover
         color #f
         text-shadow 0 0 5px #f

      &:active
         color #9
         text-shadow 0 0 0

   #account
      float right

// subnav
#subnav
   text-align center
   background-color light

   a
      display inline-block
      padding 10px 0 7px
      margin 0 u
      font-size 90%
      hover #6
      text-decoration none


.normalized#content
   padding-bottom 100px

   code
      background-color #eef


// main footer
#main footer
   text-align center
   padding 100px 0


// global footer
#footer
   height footer_height
   text-align center
   background #3
   padding 0 spacing

   a
      display inline-block
      hover #e
      margin u uh 0
      text-decoration none
