
// header
#header
   clearfix()
   background #3

   a
      hover #e
      line-height u4
      margin-right u

   #nav
      float left

   #subnav
      float right

      a
         margin 0 0 0 u



// login
#nav_account, #nav_login
   display none


.is-logged &
   #nav_account, #nav_logout
      display inline

   #nav_login
      display none
