
/*
   // landscape phones and down
   @media (max-width: 480px)

   // landscape phone to portrait tablet
   @media (max-width: 768px)

   // portrait tablet to landscape and desktop
   @media (min-width: 768px) and (max-width: 980px)

   // large desktop
   @media (min-width: 1200px) { .. }
*/

@media (max-width: 680px)
   #nav a
      font-size 13px
