
#secondary
   text-align center

   a
      line-height u5
      margin 0 u
      hover #7
      font-size smaller



@media (min-width: 768px)

   width = nav_width + nav_margin

   .nav-left, .nav-right
      #secondary
         position absolute
         top u4
         width nav_width
         text-align left
         border-bottom 0

         a
            display block

   .nav-left
      #content
         padding-left width

      #secondary
         left 0

   .nav-right
      #content
         padding-right width

      #secondary
         right 0
