<!doctype html>

{#
head
   style
   head_script

body {{body_id}} {{body_class}}

  #container

    #header
      #branding
      #nav
      #subnav

    #hero
      #main
        #secondary
        #content (markdown|html)

   #footer

   script
-#}

{% set meta, node, page, env = resource.meta, resource.node, resource, site.config -%}

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

  {% block head -%}

    <meta charset="{{ meta.charset }}">

    {# use chrome frame & force latest IE engine -#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="author" content="{{ meta.author }}">

    <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}" type="image/x-icon" />

    {# optimize mobile versions -#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block style -%}{%- endblock %}

    {% block head_script -%}
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ media_url('js/top.js') }}"></script>
    {%- endblock %}


  {%- endblock head %}

</head>

<body id="{{ meta.body_id | default(node.name) }}" class="{{ meta.body_class }}">
  {% block body -%}

    <div id="container">

      {# ie6 #}
      <!--[if lt IE 7]>
        <div id="ie6">{% block ie6 -%}{%- endblock %}</div>
      <![endif]-->

      {# header #}
      <header id="header">
        <div id="header-inner">
          {% block header -%}
            <a id="branding" href="/">{% block branding -%}{% endblock -%}</a>
            <nav id="nav">{% block nav -%}{% endblock -%}</nav>
            <nav id="subnav">{% block subnav -%}{% endblock -%}</nav>
          {%- endblock %}
        </div>
      </header>

      {# hero #}
      <section id="hero">
        <div id="hero-inner">
          {% block hero -%}{%- endblock %}
        </div>
      </section>

      {# main #}
      <div id="main">

        <div id="main-inner">

          {# secondary #}
          <aside id="secondary">
            {% block secondary -%}{%- endblock %}
          </aside>

          {# content #}
          <div id="content">
            {% markdown -%}{% block content -%}{%- endblock %}{%- endmarkdown %}
            {% block html -%}{%- endblock %}
          </div>

        </div>

      </div>

      {# footer #}
      <footer id="footer">
        <div id="footer-inner">
          {% block footer -%}{%- endblock %}
        </div>
      </footer>

    </div>


    {% block script -%}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

      <script>window.jQuery || document.write('<script src="{{ media_url('js/lib/jquery.min.js') }}"><\/script>')</script>

      <script src="{{ media_url('js/bottom.js') }}"></script>

      {% if env.analytics %}
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
      {% endif %}

    {%- endblock script %}

{%- endblock body %}

</body>

</html>
