
{% extends "root.j2" -%}

{% block style -%}
   <link rel="stylesheet" type="text/css" href="/media/css/index.css"/>
{%- endblock %}


{% block ie6 -%}
   Your browser is old. Please <a href="http://browsehappy.com/">upgrade to a modern one</a>
{%- endblock %}

{% block html_hero -%}
   <h1>MEGA</h1>
{%- endblock %}

{% block html_nav -%}
   <a id="nav_home"     href="/">Home</a>
   <a id="nav_page"     href="/content.html">Content</a>
   <a id="nav_module"   href="/modules.html">Modules</a>
{% endblock %}

{% block html_subnav %}
   <a id="nav_account" href="/account/" title="Your account">Account</a>
   <a id="nav_logout" href="/logout/" title="Logout">Logout</a>
{% endblock %}

{% block html_sidebar %}
   <a href="http://jquerytools.org">jQuery Tools</a>
   <a href="http://flash.flowplayer.org">v3.2.8</a>
   <a href="http://github.com/flowplayer">Github</a>
   <a href="http://github.com/flowplayer/player/issues">Report a bug</a>
{%- endblock %}

{% block html_footer %}
   <h3>Less but better. <a href="/about/">More about us.</a></h3>
{%- endblock %}

