

#header
   bg #3

   a
      hover #e
      line-height u4
      margin-right u

   aside
      float right

      a
         margin 0 0 0 u

#aside
   border-bottom 1px solid #c
   text-align center

   a
      line-height u5
      margin 0 u
      hover #7
      font-size smaller

#footer
   text-align center
   bg #c


#content
   h1
      color #900
