
@import url('http://fonts.googleapis.com/css?family=Open\+Sans');

font_family    ?= 'Open Sans'

#header
   bg #3

   a
      hover #e
      line-height u4
      margin 0 u

   aside
      float right

#aside
   border-bottom 1px solid #c
   text-align center

   a
      line-height u5
      margin 0 u
      hover #7
      font-size smaller

#footer
   text-align center
   bg #c


#content
   h1
      color #900
