
/*
   Specify dimensions with block function. For example:

   block 500px 300px 10px
*/

// make element appearable
appear(speed = medium)
   absolute -999em 0
   opacity 0
   transition opacity speed

   &.is-active
      opacity 1

// generic box
box(color = #f)
   background color
   padding u
   shadow u

   .no-boxshadow &
      border 1px solid #c


// generic box with arrow
tooltip(color)
   box color
   position absolute

   &:after
      icon 5
      absolute bottom -0.9em left 42%
      text-shadow 0 4px 5px rgba(#0, .15)
      font .8em #f

      .is-below&
         icon 8
         bottom auto
         top -1.1em
         text-shadow 0 -4px 5px rgba(0, 0, 0, 0.15)

   a &
      padding uh

// speech bubble arrow
bubble(color)
   tooltip color

   &:after
      icon 6

// overlay mask to fill the whole page
mask(color = rgba(#0, 0.75))
   background color
   fixed 0
   size 100%



overlay(color)
   box color
   relative auto auto
   margin 5% auto
   overflow auto


if classify
   body.is-overlayed
      overflow hidden

   .box
      box box_color

   .tooltip
      tooltip box_color

   .bubble
      bubble box_color

   .mask
      mask mask_color

   .overlay
      overlay box_color

