
/*
   Specify dimensions with block function. For example:

   block 500px 300px 10px
*/

// generic box
box(color = white)
   background color
   padding u
   shadow u

   .no-boxshadow &
      border .1em solid gray4


// generic box with arrow
tooltip(arrow_edge = bottom, arrow_size = 1em, color = white)
   box color
   position absolute
   z-index 99999
   arrow arrow_edge arrow_size color
   display none

   &.is-active
      display block

arrow(edge = bottom, size = .9em, color = white)
   &:after
      font size / 1 color icon_font
      position absolute
      shadow_color = rgba(black, .15)
      text-shadow 0 4px 5px shadow_color

      if edge is right
         content '7'
         left 99.8%
         top 38%

      if edge is bottom
         content '5'
         top 92%

      if edge is top
         text-shadow 0 -4px 5px shadow_color
         content '3'
         top -.8em
         left 45%

// speech bubble arrow
bubble(color)
   tooltip color

   &:after
      icon 6

// overlay mask to fill the whole page
mask(color = rgba(black, 0.75))
   background color
   fixed 0
   size 100%


if classify
   /*! Boxes */
   body.is-overlayed
      overflow hidden

   .box
      box white

   .tooltip
      tooltip bottom 1.3em white

   .bubble
      bubble white

   .mask
      mask mask_color


