
.bubble
   bg black
   color almostwhite
   block 250px auto 5px
   margin 0 auto
   padding 15px
   font 20px/21px bold center
   shadow 8px
   border 1px solid black
   transition all .2s

   &:after
      position absolute
      bottom -24px
      content ""
      triangle 12px top
      left 44%

