
/*
   Graphics for modules

   // base encoded
   http://facelift.io/icon.css

*/
@font-face
   font-family icon_font
   src url('font/icon.eot')
   src url('font/icon.eot?#iefix') format('embedded-opentype'), url('font/icon.woff') format('woff'), url('font/icon.ttf') format('truetype'), url('font/icon.svg#MootRegular') format('svg')
   font-weight normal
   font-style normal

icon(char)
   font-family icon_font
   content "'%s'" % char
