
body.is-overlayed
   overflow hidden

.overlay
   activated slow
   fixed -999em 0
   size 100%
   opacity 0
   bg rgba(#0, 0.5)

   > div
      box #f9
      relative auto auto
      block 500px 300px 10px
      margin 5% auto
      transition all fast
      overflow auto

      .is-active&
         width 700px
         height 500px