
/*
   <div class="select is-active">
      <div class="value">this is option</div>
      <ul>
         <li class="is-selected">this is option</li>
         <li>1</li>
         <li>2</li>
      </ul>
      <input/>
   </div>
*/

select(width = 200px)
   position relative
   display inline-block

   input
      display none

   label
      cursor pointer
      line-height 2
      margin 0

      &:after
         icon 5
         font-size 7px
         relative -2px 5px

   ul
      box #f
      border-radius 3px
      margin 0
      padding 0
      width width
      absolute -999em 0
      opacity 0
      transition opacity fast

      .is-active&
         top 100%
         opacity 1

   li
      list-style-type none
      padding u
      margin 0

      &:hover
         background #e
         cursor pointer

      &.is-selected
         background #3
         cursor default
         color #f

         &:after
            icon c
            float right


if classify
   .select
      select 200px
