
/*! Syntax */
.highlight
   overflow-x auto
   border-left 1px dashed #c
   padding-left 15px
   font-size 16px
   padding-top 5px

.code figcaption
   display none

.na
   color red

.nt, .l-Scalar-Plain, .x
   color blue

.s, .s2, .p-Indicator, .k, .nx
   color green

.c, .cm, .c1
   color gray3

/* colon */
.o
   color #E28964

/* parenthesis */
.p
   color #96


// attribute
.kd, .m, .cp
   color #3

