
table.listing
   width 100%
   margin 25px 0

   td
      padding 5px 0
      border-bottom 1px solid #e

   &.conf
      .col1, .col2
         width 15%
         white-space nowrap
         padding-right 10px
         font-family monaco, 'courier new'
         font-size 14px

      .col2
         text-transform lowercase


   &.list
      .col1
         white-space nowrap
         padding-right 25px
         font-family monaco, 'courier new'
         font-size 14px

   .r1 td
      font-weight bold
      border-bottom 1px solid #9
      font-family inherit
      font-size inherit