
/*
   - zebra tables stress the eye
   - borders on every edge is clutter, lining is more lightweight
   - if using zebras try color altering in 5 row stacks
   - data is more important than header; make it visually so
*/
#content table
   width 100%
   margin u3 0

   td
      padding u 0
      border-bottom 1px solid lighten(line_color, 10)

   th
      border-bottom 1px solid darken(line_color, 15)
      font smaller normal #7
