
/*
   80% of design is typography, rest is spacing and images
   Tight patterns on frameworks will kill creativity.

   Only the content element should is applied for typography rules
   Other parts are highly customized and should not be affected.

   Few things

   - avoid 100% black
   - white and gray are your best friends
   - having said that; don't be afraid to use colors on headings
   - play with Big Fat Fonts and mix & match. art is possible
   - lowering size from h1 -> h6 doesn't work. use face colors & weight instead
   -
*/


#content
   color #3

   h1, h2, h3, h4, h5, h6
      margin u3 0 0
      margin-bottom - uh

   h1
      font-size x-large

   h1:first-child
      margin-top u

   blockquote
      border-left u solid #d
      color #7

   hr
      border 0
      border-bottom 1px solid #d
