
validator(prefix = '')
   p = prefix
   position relative

   // focus
   &.{p}focus
      .{p}title
         display inline

   // ok
   &.{p}ok input
      border-color ok_color

   // error
   &.{p}error
      input
         border-color rgba(error_color,.8)
         box-shadow none

   // info
   .{p}info
      color gray3
      font-size 90%
      margin-top uh
      position absolute

      > *
         display none

      .{p}active
         display inline

      .{p}error
         color error_color

   // inline info
   &.{p}inline-info .{p}info
      absolute 20% 250px

   // progress
   &.{p}progress
      opacity 0.5

      .{p}ok, .{p}title
         display none

      .{p}progress
         display block

      input
         border-color lighten(gray4, 20)
         cursor wait
         color gray3

   // hide title
   &.{p}ok, &.{p}error, &.{p}progress
      .{p}title
         display none

if classify
   label
      validator()